{
  "Entries": [
    {
      "RequestUri": "/subscriptions//providers/Microsoft.NotificationHubs/checkNamespaceAvailability?api-version=2016-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"HydraNH-Namespace7420\",\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"SubscriptionNotFound\",\r\n    \"message\": \"The subscription 'providers' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "CheckNamespaceNameAvailabilityTest": [
      "HydraNH-Namespace7420"
    ]
  },
  "Variables": {
    "SubscriptionId": ""
  }
}