{
  "Entries": [
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourcegroups?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/111c36dc-4047-4c69-acd5-301072ff1fc2\",\r\n      \"name\": \"111c36dc-4047-4c69-acd5-301072ff1fc2\",\r\n      \"location\": \"southcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/aftest\",\r\n      \"name\": \"aftest\",\r\n      \"location\": \"southcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/Api-Default-North-Central-US\",\r\n      \"name\": \"Api-Default-North-Central-US\",\r\n      [...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourcegroups/TestRg-NH9276?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276\",\r\n  \"name\": \"TestRg-NH9276\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848\",\r\n  \"name\": \"HydraNH-Namespace8848\",\r\n  \"type\": \"Microsoft.NotificationHubs/namespaces\",\r\n  \"location\": \"South Central US\",\r\n  \"kind\": \"NotificationHub\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Unknown\",\r\n    \"metricId\": null,\r\n    \"enabled\": false,\r\n    \"namespaceType\": \"NotificationHub\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848\",\r\n  \"name\": \"HydraNH-Namespace8848\",\r\n  \"type\": \"Microsoft.NotificationHubs/namespaces\",\r\n  \"location\": \"South Central US\",\r\n  \"kind\": \"NotificationHub\",\r\n  \"sku\": {\r\n    \"name\": \"Free\"\r\n  },\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Activating\",\r\n    \"metricId\": null,\r\n    \"status\": \"Created\",\r\n    \"createdAt\": \"2017-04-24T23:06:42.55Z\",\r\n    \"serviceBusEndpoint\": \"https://HydraNH-Namespace8848.servicebus.windows.net:443/\",\r\n    \"enabled\": true,\r\n    \"critical\": false,\r\n    \"scaleUnit\": \"SN1-001\",\r\n    \"dataCenter\": \"SN1\",\r\n    \"updatedAt\": \"2017-04-24T23:06:42.55Z\",\r\n    \"namespaceType\": \"NotificationHub\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/HydraNH-Authrules5282?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/HydraNH-Authrules5282\",\r\n  \"name\": \"HydraNH-Authrules5282\",\r\n  \"type\": \"Microsoft.NotificationHubs/AuthorizationRules\",\r\n  \"location\": null,\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/RootManageSharedAccessKey?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/RootManageSharedAccessKey\",\r\n  \"name\": \"RootManageSharedAccessKey\",\r\n  \"type\": \"Microsoft.NotificationHubs/AuthorizationRules\",\r\n  \"location\": null,\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Manage\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14766"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/HydraNH-Authrules5282?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"The requested resource HydraNH-Authrules5282 does not exist.\",\r\n    \"code\": \"NotFound\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14763"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/RootManageSharedAccessKey\",\r\n      \"name\": \"RootManageSharedAccessKey\",\r\n      \"type\": \"Microsoft.NotificationHubs/AuthorizationRules\",\r\n      \"location\": null,\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"rights\": [\r\n          \"Listen\",\r\n          \"Manage\",\r\n          \"Send\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/HydraNH-Authrules5282\",\r\n      \"name\": \"HydraNH-Authrules5282\",\r\n      \"type\": \"Microsoft.NotificationHubs/AuthorizationRules\",\r\n      \"location\": null,\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"rights\": [\r\n          \"Listen\",\r\n          \"Send\"\r\n        ]\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14764"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/HydraNH-Authrules5282/listKeys?api-version=2016-03-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://hydranh-namespace8848.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules5282;SharedAccessKey=w3z0KBWQKXVtC6dO5izoEFu20b9LxmKUk/YmbHAPipw=\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://hydranh-namespace8848.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules5282;SharedAccessKey=WfOHxz8lLp/Y+WP7FSqHzb14G4t07zKBXg2BTUgFGyk=\",\r\n  \"primaryKey\": \"w3z0KBWQKXVtC6dO5izoEFu20b9LxmKUk/YmbHAPipw=\",\r\n  \"secondaryKey\": \"WfOHxz8lLp/Y+WP7FSqHzb14G4t07zKBXg2BTUgFGyk=\",\r\n  \"keyName\": \"HydraNH-Authrules5282\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848/AuthorizationRules/HydraNH-Authrules5282/regenerateKeys?api-version=2016-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"policyKey\": \"primary KEY\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://hydranh-namespace8848.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules5282;SharedAccessKey=X9TSbd8wCpd4gYmRcvwGl7kbC+fMvjCn5lJdjZxeSmo=\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://hydranh-namespace8848.servicebus.windows.net/;SharedAccessKeyName=HydraNH-Authrules5282;SharedAccessKey=WfOHxz8lLp/Y+WP7FSqHzb14G4t07zKBXg2BTUgFGyk=\",\r\n  \"primaryKey\": \"X9TSbd8wCpd4gYmRcvwGl7kbC+fMvjCn5lJdjZxeSmo=\",\r\n  \"secondaryKey\": \"WfOHxz8lLp/Y+WP7FSqHzb14G4t07zKBXg2BTUgFGyk=\",\r\n  \"keyName\": \"HydraNH-Authrules5282\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/resourceGroups/TestRg-NH9276/providers/Microsoft.NotificationHubs/namespaces/HydraNH-Namespace8848?api-version=2016-03-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/providers/Microsoft.NotificationHubs/operationresults/HydraNH-Namespace8848?api-version=2016-03-01"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/providers/Microsoft.NotificationHubs/operationresults/HydraNH-Namespace8848?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/111c36dc40474c69acd5301072ff1fc2/operationsStatus/HydraNH-Namespace8848\",\r\n  \"name\": \"HydraNH-Namespace8848\",\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/providers/Microsoft.NotificationHubs/operationresults/HydraNH-Namespace8848?api-version=2016-03-01"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14762"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/111c36dc-4047-4c69-acd5-301072ff1fc2/providers/Microsoft.NotificationHubs/operationresults/HydraNH-Namespace8848?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/111c36dc40474c69acd5301072ff1fc2/operationsStatus/HydraNH-Namespace8848\",\r\n  \"name\": \"HydraNH-Namespace8848\",\r\n  \"status\": \"Completed\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14761"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "NamespaceCreateGetUpdateDeleteAuthorizationRules": [
      "TestRg-NH9276",
      "HydraNH-Namespace8848",
      "HydraNH-Authrules5282"
    ]
  },
  "Variables": {
    "SubscriptionId": "111c36dc-4047-4c69-acd5-301072ff1fc2",
    "CreatePrimaryKey": "kIvJHWFZ/VzDvmKJS/X6FcLXId8TxaW5oirdlghglac="
  }
}